<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <listener>
    <listener-class>com.risevision.gcslogs.ServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>LoadLogsServlet</servlet-name>
    <servlet-class>com.risevision.gcslogs.load.LoadLogsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadLogsServlet</servlet-name>
    <url-pattern>/loadLogs</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteLoadJobFilesServlet</servlet-name>
    <servlet-class>com.risevision.gcslogs.delete.DeleteLoadJobFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLoadJobFilesServlet</servlet-name>
    <url-pattern>/deleteLoadJobFiles</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteFailedFileServlet</servlet-name>
    <servlet-class>com.risevision.gcslogs.delete.DeleteFailedFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFailedFileServlet</servlet-name>
    <url-pattern>/deleteFailedFile</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/loadLogs</url-pattern>	
      <url-pattern>/deleteLoadJobFiles</url-pattern>	
      <url-pattern>/deleteFailedFile</url-pattern>	
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
